:root {
    --nav-animation-duration: 0.2s;
}

@keyframes rotate-360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-grow-width {
    width: 0%;
    overflow: hidden;
    animation: grow-width 1s forwards;
    white-space: nowrap;
}

@keyframes grow-width {
    from {
        width: 0%;
        opacity: 0.3;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}
/*
    NAV Animations

*/
@keyframes swipeHorizontal-100to0 {
    from {
        transform: translate(100%);
        opacity: 0.3;
    }

    to {
        transform: translate(0%);
        opacity: 1;
    }
}

@keyframes swipeHorizontal-0 {
    0% {
        transform: translate(0%);
    }

    100% {
        transform: translate(0%);
    }
}

@keyframes swipeHorizontal-0to-100 {
    from {
        transform: translate(0%);
        opacity: 1;
    }

    to {
        transform: translate(-100%);
        opacity: 1;
    }
}
@keyframes swipeHorizontal-0to100 {
    from {
        transform: translate(20%);
        opacity: 0.8;
    }

    to {
        transform: translate(100%);
        opacity: 0.3;
    }
}

@keyframes shrinkIn{
    0%{
        transform: scale(1.05);
        opacity: 0%;
    }
    100%{
        opacity:100%;
    }
    
}
