.ms-flyout{
    position: absolute;
    z-index: 1000;
    width: auto;
    height: auto;
    min-width: 60px;
    min-height: 20px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.45);
    background-color: var(--trasparent-light-bg);
    backdrop-filter: var(--strong-blur);
    transition: height, transform 0.3s;
    overscroll-behavior: contain;
    opacity: 1;
    transform: scale(1,0);
    transform-origin: bottom;
}
.ms-flyout.isOpen{
    opacity: 1;
    transform:  scale(1,1);

}

@media screen and (min-width: 768px){
    .ms-flyout{
        transform-origin: 0% 50%;
        transform: scale(0,1);
    }
}
