@charset "UTF-8";

@import "styles.css";
@import "animations.css";
@import "flyout.css";
@import "modal.css";
@import "tooltip.css";
@import "uielement.css";

#app-init {
    display: flex;
    color: var(--text-color-dark);
    margin: 0 auto;
    margin-top: 5rem;
    padding: 0.5rem;
    justify-content: center;
}

#app-status {
    text-align: center;
}

.appbar-title {
    position: absolute;
    padding: 0.5rem;
}

#main-nav {
    width: 100%;
    top: 0;
    height: 80px;
    margin: 0 auto;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 400;
}
#main-nav.dark {
    background-color: var(--nav-color);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.45);
}

#main-nav:first-child {
    padding-left: 0;
    padding-right: 0;
}

#bot-navigation-wr {
    display: flex;
    position: fixed;
    bottom: 0rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    align-content: center;
    z-index: 999;
    border-radius: 0rem;
    background-color: var(--nav-color);
    height: 70px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#bot-navigation-wr.lightgrey-radial-gradient .tab {
    color: #6d6d6d;
}

#bot-navigation-wr.lightgrey-radial-gradient .tab.active {
    color: var(--text-accent-color);
}

#bot-nav-fav-tab.is-visible {
    color: var(--accent-color) !important;
}

#bot-nav-mainaction {
    background-color: #fff;
}

#main-window {
    width: 100%;
    min-height: inherit;
    position: relative;
    box-sizing: border-box;
}

.main-view {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    /* overflow: scroll;
    overflow-anchor: auto;
    scroll-behavior: smooth; */
    background-color: var(--main-bg-color);
    box-sizing: border-box;
}
.main-view.active {
    z-index: 300;
    min-height: inherit;
}

.main-view::-webkit-scrollbar {
    display: none;
}

.main-view.collapsed {
    display: none;
}

.main-view.swipeHorizontalIn {
    z-index: 3;
    animation: swipeHorizontal-100to0 var(--nav-animation-duration) ease-in;
    /*background-color: greenyellow;*/
}
.main-view.swipeHorizontalIn.reverse {
    animation: swipeHorizontal-0 var(--nav-animation-duration) ease-in;
    z-index: 2;
    /*color: greenyellow;*/
}

.main-view.swipeHorizontalOut {
    z-index: 2;
    animation: swipeHorizontal-0 var(--nav-animation-duration) ease-in;
    /*background-color: orangered;*/
}

.main-view.swipeHorizontalOut.reverse {
    z-index: 3;
    animation: swipeHorizontal-0to100 var(--nav-animation-duration) ease-in;
    /*color: orangered;*/
}

#search-wr {
    position: fixed;
    top: -100px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.45);
    z-index: 450;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
    backdrop-filter: blur(12px);
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
}

#search-wr.visible {
    top: 0;
}

.page {
    background-color: #fff;
    padding: 2rem;
}

@media screen and (min-width: 1024px) {
    .md-header-text {
        width: 75%;
        max-width: 768px;
        margin: auto;
    }
    .md-header-tabs {
        max-width: 1024px;
        margin: auto !important;
    }
    .fullwidth {
        max-width: 1024px;
        margin: auto;
    }

    .responsive {
        max-width: 1024px;
        margin: auto;
    }

    .modal {
        width: 500px;
    }
    .page {
        margin-top: 2rem;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 768px) {
    #bot-navigation-wr {
        flex-direction: column;
        width: 100px;
        height: 100vh;
        right: auto;
    }

    #main-window {
        margin-left: 100px;
        width: calc(100% - 100px);
    }

    #main-nav {
        margin-left: 100px;
        width: calc(100% - 100px);
    }

    .view-container {
        padding-bottom: 0 !important;
    }

    .main-content-wr {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .main-action-tab-button {
        top: calc(50% - (100vh / 6) / 2 + 30px) !important;
    }

    #search-wr {
        width: calc(100% - 100px);
        left: 100px;
    }
}

.view-container {
    padding-top: 80px;
    padding-bottom: 70px;
}

[ms-uielement] {
    cursor: pointer;
}

.lds-ring {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 2rem;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 5px;
    border: 4px solid var(--text-color-dark);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--text-color-dark) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#devmode-icon {
    color: #00d25b !important;
}
#devmode-icon.active {
    color: var(--accent-color) !important;
}

#dev-init-btn {
    margin: 0 auto;
    margin-top: 4rem;
    width: 120px;
    color: var(--text-color);
    background-color: var(--main-color);
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    display: none;
    border-radius: 5px;
}

.no-touch #dev-init-btn:hover {
    background-color: var(--main-color-light);
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
}

.input-group.has-border .input {
    border: 1px solid var(--text-accent-color);
}

.input-group.is-rounded {
    border-radius: 999px;
}

.input {
    flex-grow: 0;
    display: flex;
    height: inherit;
}

.input.has-border {
    border: 1px solid var(--text-accent-color);
}

.input.is-filled,
.input.is-filled i {
    background-color: var(--text-accent-color);
    color: var(--text-invert-color) !important;
}

.input a .icon {
    color: var(--text-accent-color);
    background-color: transparent;
}

.input input,
.input .select,
.input a,
.input select {
    height: inherit;
    padding: 0;
    margin: 0;
    border: 1px dotted red;
    border: none;
    font-family: Montserrat;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    outline: none;
}

.input input {
    width: 100%;
    margin-left: 2px;
    height: 100%;
}

.input .select {
    display: flex;
    position: relative;
    height: inherit;
    cursor: pointer;
}

.input select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100%;
    cursor: pointer;
}
/*.select::after {
        content: "<";
        position: absolute;
        font-family:Consolas;
        transform: rotate(270deg);
        pointer-events:none;
        z-index:1;
        right:0.5rem;
        top: 50%;
        margin-top:-0.70rem;
        font-size:18px;
        color:var(--text-accent-color);
        font-weight: normal;
    }*/

.input.is-expanded {
    flex-grow: 1;
}

.input.is-rounded {
    border-radius: 999px;
}

.input.has-addon-left {
    border-left: none !important;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input.has-addon-right {
    border-right: none !important;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input a {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.no-touch .input a:hover {
    background-color: var(--trasparent-light-bg-light);
}
.input.is-rounded a {
    border-radius: 999px;
}

.input.has-addon-left a {
    border-left: none !important;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input.has-addon-right a {
    border-right: none !important;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input.has-icon-left input {
    padding-left: 2.25rem;
}
.input.has-icon-right input {
    padding-right: 2.25rem;
    padding-left: 0.75rem;
}
.input.has-icon-left select {
    padding-left: 2.25rem;
    padding-right: 0.75rem;
}
.input.has-icon-right select {
    padding-right: 2.25rem;
}

.input .icon {
    align-self: center;
    pointer-events: none;
    z-index: 1;
    color: var(--text-accent-color);
}
.input .icon.is-icon-left {
    order: -1;
    padding-left: 0.75rem;
    padding-right: 0.25rem;
    margin-right: -2rem;
}
.input .icon.is-icon-right {
    padding-right: 0.75rem;
    padding-left: 0.25rem;
    margin-left: -2rem;
    order: 999999;
}

.modal {
    background-color: var(--trasparent-light-bg);
    z-index: 1000;
    width: 90%;
    position: fixed;
    left: 50%;
    margin-left: -45%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    padding: 0.5rem;
    transition: height 0.3s;
    visibility: hidden;
    pointer-events: none;
    height: 0px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.45);
    overscroll-behavior: contain;
    top: 0;
    backdrop-filter: var(--strong-blur);
}

.modal.visible {
    pointer-events: all;
    visibility: visible;
    height: calc(100vh - 60%);
}
.modal .flickity-viewport {
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: contain;
}
.modal .flickity-viewport::-webkit-scrollbar {
    display: none;
}

.tab {
    position: relative;
    flex-grow: 1;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    padding: 1.5rem 0 1.25rem 0;
    color: var(--text-color);
    transition: border 0.3s;
    transition: background-color 0.3s;
    /* box-shadow: 0 -2px 2px rgba(0,0,0,0.45); */
}

.no-touch .tab:hover:not(.no-hover) {
    background-color: var(--trasparent-light-bg-extra-light);
    color: var(--text-accent-color);
    cursor: pointer;
}

.tab.active {
    color: var(--text-accent-color);
}

.main-action-tab-button {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    position: absolute;
    top: 5px;
    left: calc(50% - 30px);
    background-color: var(--text-color);
    padding-top: 1.2rem;
    color: var(--text-accent-color);
    border: 2px solid hsl(212, 30%, 25%);
    box-shadow: hsl(213, 31%, 25%) 0px -1px 4px inset;
}
.main-action-tab-button i {
    transition: all 0.75s;
}

.no-touch .main-action-tab-button:hover i {
    transform: rotate(180deg);
}

.no-touch .main-action-tab-button:hover {
    box-shadow: hsl(213, 31%, 25%) 0px -1px 8px inset;
    background-color: var(--text-color);
}

#bot-nav-mainaction {
    background-color: var(--nav-color);
}

.main-action-tab-button.animate {
}

.main-action-tab-button.move-up {
    top: -32px;
}

.main-action-tab-button.animate > .ma-btn-icon i {
    animation: rotate-360 0.75s infinite;
}

.lightgrey-radial-gradient .main-action-tab-button {
    border: 2px solid hsl(300, 1%, 75%);
    box-shadow: hsl(0, 0%, 70%) 0px -1px 4px inset;
}

.no-touch .lightgrey-radial-gradient .main-action-tab-button:hover {
    box-shadow: hsl(0, 0%, 70%) 0px -1px 8px inset;
}

.homepage-view {
    width: 100%;
    /* height: 100vh;
    height: calc(var(--vh, 1vh) * 100); */
}

.main-content {
}

.main-content-wr {
    padding-bottom: 4rem;
}

ul.list {
    list-style: none !important;
}

.list > li {
    margin-left: 2rem;
    position: relative;
}

.list > li::before {
    content: "■";
    color: var(--text-accent-color);
    position: absolute;
    left: -1rem;
}

.tag {
    border-radius: 0.25rem;
    padding: 0.25rem;
    background-color: var(--text-accent-color);
    display: inline-block;
}

.icon {
    flex-grow: 0;
}

.clickable-icon {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.no-touch .clickable-icon:hover {
    background-color: var(--trasparent-light-bg-extra-light);
    cursor: pointer;
}

.content {
    padding: 0.75rem;
}

.tooltip {
    z-index: 1000;
}

.overlay,
backoverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 500;
    overscroll-behavior: contain;
}
