.ms-modal-wrapper {
    display: flex;
    position: fixed;
    z-index: 1000;
    width: calc(100%);
    justify-content: center;
    flex-direction: column;
    height: calc(100vh);
    align-items: center;
    background-color: var(--trasparent-bg-light);
    top: 0;
    overscroll-behavior: contain;
}

.ms-modal {
    position: relative;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    max-width: 80%;
    min-width: 100px;
    padding: 1rem;
    background-color: var(--background-color);
    overscroll-behavior: contain;
    z-index: 1001;
    -webkit-font-smoothing: antialiased !important;
}

@media screen and (min-width: 768px) {
    .ms-modal {
        max-width: 682px;
    }
}

.ms-modal-wrapper.isOpen > .ms-modal {
}

.ms-modal-content {
    width: 100%;
    margin-top: 2rem;
    min-height: 60px;
    max-height: 70vh;
    overflow-y: auto;
    max-width: 100%;
}
