.ms-notification-wrapper {
    display: flex;
    position: fixed;

    width: calc(100%);
    justify-content: flex-end;
    flex-direction: column;
    height: calc(100vh);
    align-items: center;
    background-color: var(--trasparent-bg-light);
    top: 0;
    overscroll-behavior: contain;
}

.ms-notification {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    max-width: 80%;
    min-width: 100px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--main-color-transparent);
    -webkit-backdrop-filter: var(--strong-blur);
    backdrop-filter: var(--strong-blur);
    overscroll-behavior: contain;
    margin: auto;
    margin-bottom: 6rem;
    opacity: 0;
    color: var(--text-color);
    max-height: 160px;
    overflow-y: auto;
    transition: bottom 0.2s;
}
@media screen and (min-width: 768px) {
    .ms-notification {
        margin-bottom: 1rem;
        max-width: 708px;
    }
}

.ms-notification.isOpen {
    opacity: 1;
}

.ms-notification.error {
    opacity: 1;
    background-color: var(--accent-color-dark);
}

.ms-notification-content {
}

.ms-ui-close-btn {
    flex-grow: 0;
    margin-left: 1rem;
    border-radius: 0.25rem;
    text-align: center;
}

.ms-ui-close-btn:hover {
    color: var(--accent-color-light);
    cursor: pointer;
}

.ms-ui-close-btn:active {
    color: var(--accent-color);
    transform: scale(0.9);
}
.ms-notification-loading-bar{
    height:4px;
    width: 100%;
    background-color: var(--main-color-light);
    position: absolute;
    bottom: 0;
    left:0;
    animation: ms-loading-bar;
    animation-timing-function: linear;
}

@keyframes ms-loading-bar{
    100%{
        width: 0%;
    }
}
