.ms-notification-wrapper {
    display: flex;
    position: fixed;

    width: calc(100%);
    justify-content: flex-end;
    flex-direction: column;
    height: calc(100vh);
    align-items: center;
    background-color: var(--trasparent-bg-light);
    top: 0;
    overscroll-behavior: contain;
}

.ms-notification {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    max-width: 80%;
    min-width: 100px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.45);
    background-color: var(--main-color-transparent);
    backdrop-filter: var(--strong-blur);
    overscroll-behavior: contain;
    margin: auto;
    margin-bottom: 6rem;
    opacity: 0;
    color: var(--text-color);
}
@media screen and (min-width: 768px) {
    .ms-notification {
        margin-bottom: 1rem;
        max-width: 584px;
    }
}

.ms-notification.isOpen {
    opacity: 1;
}

.ms-notification-content {
    flex-grow: 1;
}

.ms-ui-close-btn {
    flex-grow: 0;
    margin-left: 1rem;
}

.ms-ui-close-btn:hover {
    color: var(--accent-color);
    cursor: pointer;
}
