@import "colors.css";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    text-decoration: none;
}

ul,
ol {
    padding-left: 2rem;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"),
        url(fonts/MaterialIcons-Regular.woff2) format("woff2"),
        url(fonts/MaterialIcons-Regular.woff) format("woff"),
        url(fonts/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 28px; /* Preferred icon size */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";
}

.material-icons.md24 {
    font-size: 24px;
}

.material-icons.md24-center {
    font-size: 24px;
    line-height: 48px;
}

.material-icons.accent-color {
    color: var(--accent-color);
}

.material-icons.main-color-light {
    color: var(--main-color-light);
}

body {
    font-family: "Montserrat";
    color: #444;
    font-size: 16px;
    margin: 0 auto;
}

html,
body {
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
    display: none;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

.is-narrow {
    flex-grow: 0 !important;
}
.is-wide {
    flex-grow: 1 !important;
}

.clickable-icon {
    padding: 0.5rem;
}

.tiny {
    font-size: 8px;
}

.extra-small {
    font-size: 8px;
}
.small {
    font-size: 10px;
}

.medium {
    font-size: 13px !important;
}

.normal {
    font-size: 16px;
}

.large {
    font-size: 18px;
}

.extra-large {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.very-light {
    color: var(--light-highlight);
}

.light {
    color: #afafaf;
}
.semilight {
    color: #777;
}

.h-small {
    height: 16px;
}
.h-medium {
    height: 32px;
}
.h-large {
    height: 64px;
}
.h-extra-large {
    height: 96px;
}
.fullwidth {
    width: 100%;
    background-color: #fff;
}

.red-gradient {
    background: linear-gradient(
        45deg,
        rgb(58, 111, 126) 0%,
        rgb(79, 60, 154) 68%,
        rgb(127, 86, 120) 100%
    );
}

.blue-gradient {
    background: linear-gradient(
        90deg,
        rgba(61, 58, 126, 1) 0%,
        rgba(32, 130, 187, 1) 61%,
        rgba(0, 212, 255, 1) 100%
    );
}

.green-gradient {
    background: linear-gradient(
        215deg,
        #8dc476 0%,
        #00d45c 0%,
        #00ac8b 76.13%,
        #0092aa 100%,
        #47623b 100%
    );
}

.yellow-gradient {
    background: linear-gradient(
        90deg,
        rgba(255, 205, 0, 1) 0%,
        rgba(255, 244, 0, 1) 100%
    );
    color: var(--text-color-dark) !important;
}

.blue-radial-gradient {
    background: radial-gradient(
        circle,
        rgba(31, 54, 122, 1) 0%,
        rgba(32, 130, 187, 1) 100%
    );
}

.lightgrey-radial-gradient {
    background: radial-gradient(
        circle,
        rgb(189, 188, 188) 0%,
        rgba(238, 238, 238, 1) 100%
    );
}

.text-shadow-dark {
    text-shadow: 1px 1px 3px #171717;
}

.shadow-def {
    box-shadow: #ccc 1px 1px 16px 6px;
}

.container {
    display: flex !important;
    align-content: center;
    align-items: center;
}

.tablerow {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.table-header {
    padding-top: 1.75rem;
    padding-left: 0.5rem;
    color: var(--text-color-dark);
}
.table-header:first-child {
    padding-top: 0;
}
.table-header > i {
    color: rgba(210, 210, 210, 1);
    width: 16px;
    height: 16px;
}
.table-header-seperator {
    border: none;
    height: 1px;
    background-color: rgba(210, 210, 210, 0.5);
}

.col {
    flex-grow: 1;
}

.spread {
    flex-grow: 1;
}

.spread-wide {
    flex-grow: 2;
}

.row {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

a .touch-list-item,
a:active .touch-list-item,
a:visited .touch-list-item {
    color: #444;
}

.touch-list-item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    cursor: pointer;
}

.touch-list-item > i {
    margin-right: 0.5rem;
    color: var(--main-color-light) !important;
}

.no-touch .touch-list-item:hover > i {
    color: var(--text-accent-color) !important;
}

.margin-l-12 {
    margin-left: 12px;
}
.margin-l-8 {
    margin-left: 8px;
}
.margin-l-4 {
    margin-left: 4px;
}

.margin-l-16 {
    margin-left: 16px;
}

.margin-r-8 {
    margin-right: 8px;
}

.margin-r-4 {
    margin-right: 4px;
}

.margin-t-4 {
    margin-top: 4px;
}

.margin-t-4 {
    margin-top: 4px;
}
.margin-t-8 {
    margin-top: 8px;
}
.margin-t-12 {
    margin-top: 12px;
}
.margin-t-16 {
    margin-top: 16px;
}
.margin-t-20 {
    margin-top: 20px;
}
.margin-t-24 {
    margin-top: 24px;
}

.margin-b-24 {
    margin-bottom: 24px;
}
.margin-b-20 {
    margin-bottom: 20px;
}
.margin-b-16 {
    margin-bottom: 16px;
}
.margin-b-12 {
    margin-bottom: 12px;
}

.pull-right {
    align-self: flex-end;
}
