<div class="ms-modal-wrapper" id="{{id}}">
    <div class="ms-modal">
        <div class="ms-modal-content">
            {{LoadTemplate modal "param"}}
        </div>
        <div class="ms-modal-close-btn"><i class="far fa-times-circle extra-large"></i></div>
    </div>
</div>