<div class="homepage-view view-container responsive">
    <div class="page">
        <h1>Hello World!</h1><br>
        <p>
            This is a simple dashboard. The intention for making this dashboard was, that i just wanted to learn more
            about JavaScript.
        </p><br>
        <p>
            There are a few feature i'd like to mention, they were very difficult to implement.<br><br>
        <ul>
            <li>Template Engine</li>
            <li>The whole navigation features (single-site navigation)</li>
            <li>UI Elements dynamically added to DOM, with implementation of templates</li>
        </ul>
        </p><br><br>
        <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
            ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
            ms-uielement-position="rightTop" ms-uielement-open-direction="right" ms-uielement-animation="slide">
            Open a Flyout (Template)</span><br><br>
        <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..." ms-uielement-tpl=""
            ms-uielement-trigger="click" ms-uielement-sticky="false" ms-uielement-position="rightTop"
            ms-uielement-open-direction="right" ms-uielement-animation="slide">
            Open a Flyout (Text)</span><br><br>
        <span ms-uielement ms-uielement-type="Modal" ms-uielement-content="This is a great modal"
            ms-uielement-trigger="click" ms-uielement-sticky="false" ms-uielement-animation="fadeIn">
            Open a Modal (Text)</span><br><br>
        <span ms-uielement ms-uielement-type="Modal" ms-uielement-tpl="testviewmodel" ms-uielement-trigger="click"
            ms-uielement-sticky="false" ms-uielement-animation="fadeIn">
            Open a Modal (Template)</span><br><br>
        <span ms-uielement ms-uielement-type="Tooltip" ms-uielement-content="This is a great tooltip"
            ms-uielement-trigger="click" ms-uielement-sticky="false" ms-uielement-position="left"
            ms-uielement-open-direction="y">
            Open a Tooltip</span><br><br>
        <span ms-uielement ms-uielement-type="Notification"
            ms-uielement-content="Here is some very useful information for you!" ms-uielement-trigger="click"
            ms-uielement-animation="slide">
            Open a Notification</span><br><br>
        <hr>
        <div style="display: flex; width:100%; justify-content:flex-start">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topRight" ms-uielement-open-direction="x" ms-uielement-animation="slide">
                Open a Flyout X, topRight</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:center">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topRight" ms-uielement-open-direction="x" ms-uielement-animation="slide">
                Open a Flyout X, topRight</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:flex-end">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topRight" ms-uielement-open-direction="x" ms-uielement-animation="slide">
                Open a Flyout X, topRight</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:center">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topCenter" ms-uielement-open-direction="x" ms-uielement-animation="slide">
                Open a Flyout X, topCenter</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:center">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topLeft" ms-uielement-open-direction="x" ms-uielement-animation="slide">
                Open a Flyout X, topLeft</span><br><br>
        </div>
        <hr>
        <div style="display: flex; width:100%; justify-content:flex-start">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topRight" ms-uielement-open-direction="x" ms-uielement-animation="slide">
                Open a Flyout X, topRight</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:center">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="botRight" ms-uielement-open-direction="x" ms-uielement-animation="slide">
                Open a Flyout X, botRight</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:flex-end">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="botRight" ms-uielement-open-direction="x" ms-uielement-animation="slide">
                Open a Flyout X, botRight</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:center">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="botCenter" ms-uielement-open-direction="x" ms-uielement-animation="slide">
                Open a Flyout X, botCenter</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:center">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="botLeft" ms-uielement-open-direction="x" ms-uielement-animation="slide">
                Open a Flyout X, botLeft</span><br><br>
        </div>
        <hr>
        <div style="display: flex; width:100%; justify-content:flex-end;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="botRight" ms-uielement-open-direction="y" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout Y, botRight</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:flex-end;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="botLeft" ms-uielement-open-direction="y" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout Y, botLeft</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:flex-end;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="botCenter" ms-uielement-open-direction="y" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout Y, botCenter</span><br><br>
        </div>
        <hr>
        <div style="display: flex; width:100%; justify-content:flex-end;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topLeft" ms-uielement-open-direction="y" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout Y, topLeft</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:flex-end;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topRight" ms-uielement-open-direction="y" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout Y, topRight</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:flex-end;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topCenter" ms-uielement-open-direction="y" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout Y, topCenter</span><br><br>
        </div>
        <hr>
        <div style="display: flex; width:100%; justify-content:center;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="botRight" ms-uielement-open-direction="y" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout Y, botRight</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:center;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="botLeft" ms-uielement-open-direction="y" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout Y, botLeft</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:center;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="botCenter" ms-uielement-open-direction="y" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout Y, botCenter</span><br><br>
        </div>
        <hr>
        <div style="display: flex; width:100%; justify-content:center;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topLeft" ms-uielement-open-direction="y" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout Y, topLeft</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:center;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topRight" ms-uielement-open-direction="y" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout Y, topRight</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:center;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topCenter" ms-uielement-open-direction="y" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout Y, topCenter</span><br><br>
        </div>
        <hr>
        <div style="display: flex; width:100%; justify-content:flex-start;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="botLeft" ms-uielement-open-direction="down" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout down, botLeft</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:center;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="botCenter" ms-uielement-open-direction="down" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout down, botCenter</span><br><br>
        </div>
        <div style="display: flex; width:100%; justify-content:flex-end;">
            <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
                ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
                ms-uielement-position="topCenter" ms-uielement-open-direction="down" ms-uielement-animation="slide"
                ms-ui-element-align="left">
                Open a Flyout down, topCenter</span><br><br>
        </div>
    </div>
</div>