<div id="main-nav" class="row" guid="{{guid}}">
    <!-- Left Icons -->
    <div class="appbar-left-btns">
        {{#each leftButtons}}
        {{{button}}}
        {{/each}}
    </div>

    <div class="col">&nbsp;</div>
    <!-- Title Text-->
    <div class="appbar-title">
        <span class="appbar-title-text bold">{{title}}</span>
    </div>
    <!-- Right Icons -->
    <div class="appbar-right-btns">
        {{#each rightButtons}} {{{button}}} {{/each}}
    </div>
</div>