<div class="homepage-view view-container responsive">
    <div class="page">
        <p class="heading1">New Article</p>
        <div
            style="border: 1px solid lightgrey; 
        min-height:60vh; 
        width:100%;
        border-radius: 4px;
        margin: 0 auto;
        outline:none !important;
        padding: 1rem;
        "
            contenteditable="true"
        ></div>
        <div class="container right">
            <div class="button primary margin-t-16 shadow"><i class="fad fa-save"></i> save post</div>
        </div>

    </div>
</div>