<div class="homepage-view view-container responsive">
    <div class="page">
        <h1>Hello World!</h1><br>
        <p>
            This is a simple dashboard. The intention for making this dashboard was, that i just wanted to learn more
            about JavaScript.
        </p><br>
        <p>
            There are a few feature i'd like to mention, they were very difficult to implement.<br><br>
        <ul>
            <li>Template Engine</li>
            <li>The whole navigation features (single-site navigation)</li>
            <li>UI Elements dynamically added to DOM, with implementation of templates</li>
        </ul>
        </p><br><br>
        <span ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
            ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
            ms-uielement-position="right" ms-uielement-animation="leftToRight">
            Open a Flyout</span><br><br>
        <span ms-uielement ms-uielement-type="Modal" ms-uielement-content="This is a great modal"
            ms-uielement-trigger="click" ms-uielement-sticky="false">
            Open a Modal</span><br><br>
        <span ms-uielement ms-uielement-type="Tooltip" ms-uielement-content="This is a great modal"
            ms-uielement-trigger="click" ms-uielement-sticky="false" ms-uielement-position="bottom">
            Open a Tooltip</span><br><br>
    </div>
</div>