<div>This is an inline Modal</div>
<br><br><a href="#"ms-uielement class="text-center"  ms-uielement-type="Modal" ms-uielement-content="Simpletext..." ms-uielement-tpl="inlineModal" ms-uielement-trigger="click" ms-uielement-sticky="false">Klick to open</a>