    <script id="mainaction-button-template" type="text/x-handlebars-template">
        <a id="{{id}}" href="javascript:void(0)" class="main-action-tab-button tab text-center">
            <div id="ma-update-ml-btn" class="ma-btn-icon"><i class="{{icon}}"></i></div>
        </a>
    </script>