<div style="margin: 1rem; border: 1px solid #eee">
    <p>This is the testViewModel Template!</p><br>
    <a href="#" ms-uielement ms-uielement-type="Tooltip" ms-uielement-content="Simpletext..." ms-uielement-trigger="click" ms-uielement-sticky="false" ms-uielement-position="bottom" ms-uielement-animation="leftToRight" ms-uielement-animation="leftToRight" data-navigo>Tooltip</a>
    <p>You'll see this alot during building our dashboard. Just because we need some text to get proper dimension of our UIElements.</p>
    <br>
    <p>This isn't even enough text yet. But you can savely stop reading here because all of the following content is just to get a long text. Dont be afraid you miss something important.</p>
    <br><br><a href="#"ms-uielement class="text-center"  ms-uielement-type="Modal" ms-uielement-content="Simpletext..." ms-uielement-tpl="inlineModal" ms-uielement-trigger="click" ms-uielement-sticky="false">Klick to open</a>
</div>
