<div style="margin: 1rem; border-radius:0.5rem; padding:0.75rem">
    <p>This is the included, lazy loaded testViewModel Template!</p><br>
    <a href="javascript:void(0)" ms-uielement ms-uielement-type="FlyOut" ms-uielement-content="Simpletext..."
        ms-uielement-tpl="defaultFlyout" ms-uielement-trigger="click" ms-uielement-sticky="false"
        ms-uielement-position="right" ms-uielement-animation="slide" ms-uielement-open-direction="y">Flyout</a>
    <br>
    <p>This isn't even enough text yet. But you can savely stop reading here because all of the following content is
        just to get a long text. Dont be afraid you miss something important.</p>
    <br>
    <a href="javascript:void(0)" ms-uielement class="text-center" ms-uielement-type="Modal"
        ms-uielement-content="Simpletext..." ms-uielement-tpl="inlineModal" ms-uielement-trigger="click"
        ms-uielement-sticky="false" ms-uielement-animation="fadeIn">Modal</a><br>
    <span>A modal is a simple window. It can provide useful information to the user.</span>
    <br><br>
    <a href="javascript:void(0)" ms-uielement ms-uielement-type="Tooltip"
        ms-uielement-content="This is a very useful Tooltip" ms-uielement-trigger="click" ms-uielement-sticky="false"
        ms-uielement-position="left" ms-uielement-animation="slide" ms-uielement-animation="leftToRight"
        ms-uielement-open-direction="y">Tooltip</a>
    <p>You'll see this alot during building our dashboard. Just because we need some text to get proper dimension of our
        UIElements.</p>

</div>